
@font-face {
font-family: 'Cutive Mono', monospace;
}
/*%=%=%=%=%=%=% GLOBAL %=%=%=%=%=%=%*/
*{margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0;-webkit-margin-end: 0;}
*, body{font-family: Cutive Mono;}
body,html{height: 100%;width: 100%;}
body{background: #ebe9e2;color: #555555;font-size: 18px;transition: font-size 1s;}
hr{background: #8CC854;border: 0;height: 15px;}
    /*Más estilos para hr: https://codepen.io/ibrahimjabbari/pen/ozinB*/
/*======== scrollbar ========*/
::-webkit-scrollbar{background: #F5F5F5;width: 10px;}
::-webkit-scrollbar-thumb{background: #8cc854;border-radius: 2px;cursor: pointer;}
::-webkit-scrollbar-thumb:hover{background: #86cc45;cursor: pointer;}
/*======== Headings ========*/
h1, h2, h3, h4, h5, h6{-webkit-margin-after: 0;-webkit-margin-before: 0;-webkit-margin-end: 0;-webkit-margin-start: 0;}
h1{font-size: 400%;}h2{font-size: 330%;}h3{font-size: 280%;}h4{font-size: 220%;}
h5{font-size: 180%;}h6{font-size: 144%;}
/*======== Forms ========*/
label{display: block;width: 80%;}
input, textarea{border-radius: 10px; width: 80%;}
::-webkit-input-placeholder{color: #a2a2a2;font-family: Cutive Mono;margin-inside: 5px;}
::-moz-placeholder{color: #a2a2a2;font-family: Cutive Mono;}
:-ms-input-placeholder{color: #a2a2a2;font-family: Cutive Mono;}
input:-moz-placeholder{color: #a2a2a2;font-family: Cutive Mono;}
/*======== Links ========*/
a{color: #555555;text-decoration: none;}
    /*Comportamientos del texto del link cuando se interactúa con el*/
a:focus, a:link, a.visited{color: #555555;text-decoration: none;}
a:hover{color: #666666;font-weight: bold;}

/*%=%=%=%=%=%=% SECTIONS %=%=%=%=%=%=%*/
.header-primary{background: url('../img/bg-header-2.jpg') no-repeat center;background-size: cover;-moz-background-size: cover;-o-background-size: cover;-webkit-background-size: cover;padding: 15%;width: auto;}
.nav{background: #CFF1C0;box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.52);-webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.52);-moz-box-shadow: 0px 0px 11px- 2px rgba(0,0,0,0.52);list-style-type: none;position: relative;z-index: 1;}
.section{background: #CFF1C0;}
.example{background-color: #b2ee9b;border-radius: 3px;box-sizing: border-box;box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.52);-webkit-box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.52);-moz-box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.52);margin: 2%;}
.footer{background: #cdc8d2;-webkit-box-shadow: 0px -3px 11px -2px rgba(0,0,0,0.52);-moz-box-shadow: 0px -3px 11px -2px rgba(0,0,0,0.52);box-shadow: 0px -3px 11px -2px rgba(0,0,0,0.52);}
/*======== HTML ========*/
blockquote{background: #f7f7f7;margin: 1%;padding: 2%;}
code{font-family: Roboto-Mono;font-size: inherit;}
.col-border-html{border: 2px #D52A8B solid;box-sizing: border-box;}
.hr-simple{background: #8CC854;border: 0;height: 2px;}
        /* Style for UL */
.square{ list-style-type: square;} .circle{ list-style-type: circle;}
        /* Style for OL */
.zero{ list-style-type: decimal-leading-zero;} .latin{ list-style-type: upper-latin;}
.l-latin{ list-style-type: lower-latin;} .roman{ list-style-type: upper-roman;}
.l-roman{ list-style-type: lower-roman;}
        /* Images */
.img-responsive{height: auto;width: 100%;}
.img-responsive-50{height: auto;width: 50%;}
.img-rounded{border-radius: 6px;}
.img-circle{border: 4px solid #ffffff;border-radius: 50%;box-sizing: border-box;}
.img-thumbnail{border: 4px solid #ffffff;border-radius: 5px;box-sizing: border-box;}
        /* Sounds */
audio{background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);border-radius: 3px;height: 75px;margin: 1%;padding: 2%;}
        /* Forms */
.bttn{display: inline-block;width: 20% !important;}
/*======== PHP ========*/

/*======== JavaScript ========*/

/*======== jQuery ========*/
.label-jq{margin: 0.5em;}
.form-jq{display: none;}
.cardjQ{background: #fefff3;border-radius: 3px;box-shadow: 6px 6px 11px -5px #A6A6A6;-moz-box-shadow: 6px 6px 11px -5px #A6A6A6;-webkit-box-shadow: 6px 6px 11px -5px #A6A6A6;}
.jQ-hr{background: #bb8b01;border: 0;height: 2px;}
.sizer{display:inline-block;font-size: 2em;margin: 0 0.2em 0 0.2em; text-decoration: none !important;}
@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon.eot');
    src:  url('../font/icomoon.eot') format('embedded-opentype'),
    url('../font/icomoon.ttf') format('truetype'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;}
.down{color: red !important;}.down:after{content: "\e8db";font-family: icomoon;font-size: 1.5em;vertical-align: bottom;}
.up{color: #4e7c0b !important;} .up:before{content: "\e8dc";font-family: icomoon;font-size: 1.5em;vertical-align: bottom;}
.down, .up{text-decoration: none !important;}
/*%=%=%=%=%=%=% COLUMNS %=%=%=%=%=%=%*/
.flex-container{display: -webkit-flex;display: flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;height: auto;width: auto;}
/*Justifica las columnas en el centro*/
.col-center{justify-content: center;-webkit-justify-content: center;}
/*rellena con espacios vacíos entre las columnas para que llegue al 100% del width */
.col-space-around{justify-content: space-around;-webkit-justify-content: space-around;}
/*Ancho de cada columna*/
.col-1{width: 6.33%;}.col-2{width: 14.66%;}.col-3{width: 23%;}
.col-4{width: 31.33%;}.col-5{width: 36.66%;}.col-6{width: 48%;}
.col-7{width: 56.33%;}.col-8{width: 64.66%;}.col-9{width: 73%;}
.col-10{width: 81.33%;}.col-11{width: 89.66%;}.col-12{width: 98%;}
.col-nav{box-sizing: border-box;height: auto;}
/*Estilo para cada columna*/
.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{box-sizing: border-box;height: auto;margin: 1%;padding: 1%;}
/*Método 2 para dividir en columnas, pero sin salto de linea
  Todas se mantienen en la misma fila.*/
.item1{flex: 5;-webkit-flex: 5;}
.item2{flex: 3;-webkit-flex: 3;}
.item3{flex: 2;-webkit-flex: 2;}
/*Estilo para los item*/
.item1, .item2, .item3{padding: 1%;box-sizing: border-box;}
/*%=%=%=%=%=%=% VARIOS %=%=%=%=%=%=%*/
small{font-size: 16px;}
.code{background: #778077;color: #9ffdbc;display: inline-block;padding: 1%;}
.coin{background-color: gray;border-radius: 25px;color: white;display: inline-block;font-weight: bold;font-size: 20px;height: 50px;line-height: 50px;margin: 10px;text-align: center;width: 50px;}
/*======== BUTTONS ========*/
a.btn{background: linear-gradient(45deg,#DDD8CF 0%, #ceacc7 50%, #8682a1 100%);border-radius: 3px; box-shadow: 0px 2px 4px rgba(34, 62, 66, 0.25);display: inline-block;padding: 10px 25px; text-decoration: none;transition: box-shadow 0.5s ease;-webkit-transition: box-shadow 0.5s ease;}
    /*Animación de los botones cuando se coloca el cursor encima*/
a.btn:hover{box-shadow: 0px 4px 4px rgba(34,62,66,.5);transition: box-shadow 0.5s ease;-webkit-transition: box-shadow 0.5s ease;}
/*======== TABLAS ========*/
table{border-spacing: 0;}
.combinate, .combinate > tbody> tr > td {border: 1px #32774F solid;}
.table {border: 1px #4F6DA6 solid;}
.table > tbody > tr > td{border: 1px #4F6DA6 solid;padding: 1%;}
/*======== BORDERS ========*/
.border{border: 1px rgba(16, 119, 51, 0.81) solid;box-sizing: border-box;/*Opera/IE 8+*/-webkit-box-sizing: border-box;/*Safari/Chrome, other WebKit*/-moz-box-sizing: border-box;/*Firefox, other Gecko*/}
.col-border{border: 2px #905fa0 solid;box-sizing: border-box;}
/*======== IMPLEMENTOS ========*/
.padd5{padding: 5%;} .padd2{padding: 2%;} .padd1{padding: 1%;}
.padd35px{padding-left: 35px;}
.tab{padding-left: 20px;}
.marg5{margin: 5%;} .marg2{margin: 2%;}
.inline-b{display: inline-block;} .inline-f{ display: inline-flex;}
.text-center{text-align: center; text-align: -webkit-center;}
.text-justify{text-align:justify;}
.title{padding-bottom: 2%;} .li-noStyle{list-style-type: none;}
/*======== PAGE FULL COVER ========*/
.bg-cover{background: url('../img/bg-cover.jpg') no-repeat center;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;height: 100%;width: 100%;}
.title-center{padding: 20% 20% 5% 20%;text-align: center;text-align: -webkit-center;}
